@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    @apply bg-background;
    @apply font-sans;
}

html, body {
    height: 100%;
    margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a0aec0; 
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; 
}